body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

#outer {
    background-color: #ffffff;
    width: 100%;
    margin: 20px auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

#header {
    background-color: #333333;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px 20px;
    box-sizing: border-box;
}

#header p {
    font-size: 24px;
    margin: 0;
    color: #ffffff;
}

#nav {
    background-color: #004d40;
    width: 100%;
    height: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

#nleft {
    display: flex;
    align-items: center;
}

#nleft img {
    height: 60px;
    margin-right: 20px;
}

#nleft p {
    color: #ffffff;
    font-size: 26px;
    margin: 0;
}

#nright {
    display: flex;
    align-items: center;
}

#nright a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-left: 15px;
    transition: 1s ease;
}

#nright a:hover {
    color: #333333;
}

#check {
    padding: 15px 30px;
    border-radius: 25px;
    border: 2px solid #00796b;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #004d40;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
    transition: 1s ease;
}

#check:hover {
    background-color: #333333;
}

#main {
    background-color: #e0e0e0;
    width: 100%;
    margin-top: 6px;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

.result-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.result-container h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.result-container p {
    font-size: 20px;
    color: #333333;
    margin-bottom: 20px;
}

.result-container h3 {
    font-size: 24px;
    color: #004d40;
    margin-bottom: 15px;
    font-weight: 700;
}

.result-container h4 {
    font-size: 19px;
    color: #333333;
    margin-bottom: 10px;
}

.result-container ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.result-container li {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

.result-content {
    flex: 1;
    box-sizing: border-box;
}

.result-image {
    flex: 1;
    margin-left: 20px;
    margin-right: 200px;
    max-width: 500px;
    height: auto;
}

.result-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


#footer {
    background-color: #333333;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}

#fleft,
#fright {
    color: #ffffff;
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
}

#fleft h2,
#fright h2 {
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 26px;
}

#fleft ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#fleft li,
#fright p {
    margin-bottom: 20px;
}

@media (min-width: 770px) {
        .result-container {
            flex-direction: row;
            align-items: flex-start;
        }
    
        .result-image {
            max-width: 40%; 
            margin: auto;
        }
    
        .result-content {
            flex: 1;
            margin-right: 20px;
        }
    
        #header p {
            font-size: 20px;
        }
    
        #nav {
            padding: 0 30px;
        }
    
        #check {
            font-size: 16px;
            margin-left: 30px;
        }
    
        #footer {
            padding: 30px;
            justify-content: space-between;
        }
    
        #fleft,
        #fright {
            width: 45%;
            padding: 20px;
        }
    }
    
@media (max-width: 770px) {
    #header {
        font-size: 14px;
    }

    .result-container{
        display: flex;
        flex-direction: column;
    }
    .result-image{
        margin: auto;
        flex: 1;
    }
    #nav {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    #check {
        font-size: 14px;
    }

    #fleft,
    #fright {
        font-size: 14px;
        padding: 10px;
    }
}
